@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


.nav-link{
    color:#CCCCCC;
    font-weight: 400;
    font-size: 18px;
    font-family: "Inter",sans-serif;
    flex-grow: 1;
}

.toggleChange{
    padding-left:325px;
}

.containers {
  display: flex;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-body {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 0.2rem;
  height: 70vh;
}
  .scroll-enabled {
  max-height: 70vh; /* or any fixed height like 600px */
  overflow-y: auto;
  padding-right: 10px; /* optional, to avoid scrollbar overlap */
  margin: 0px auto;
}

.scroll-disabled {
  overflow-y: hidden !important;
}

.sidebar-expanded{
    padding-left:10.5rem;
}