<div class="header">
    <div class="left">
        <img class="logo" src="./assets/vista.png" alt="VistaFlow" >
        <div class="heading">
            <span class="vista">ISTAFLOW</span>
            <span class="greeting">Hi, Suriya Ganesh</span>
            <span class="slogan">Tackle the day with intention and energy</span>
        </div>
        
    </div>
    <div class="right">
        <div class="time">
        <img class="clock" src="./assets/clock.png" alt="Clock">
        <div style="display: inline-block;">
        <span class="display-time">{{time | date:'hh:mm:ss'}}</span>
        <span class="display-date">{{time | date:'d MMMM'}}</span>
        <span class="display-day">{{day}}</span>
        <span class="display-year">{{year}}</span>
        </div>
    </div>
    <div style="position: relative;">
        <span style="position: absolute;right: 0px;background-color: #D9D9D9;border-radius: 50px;width: 18px;text-align: center;font-family: 'Inter',sans-serif;font-style: normal;font-weight: 800;">1</span>
        <span class="material-symbols-outlined" style="font-size:40px;color:#0A1A86">notifications</span>
    </div>
        <div class="profiles">
            <span class="material-symbols-outlined notificationss" style="font-size: 35px;color:#FFC729">person</span>
        </div>
    </div>
</div>