<div class="container">
  <!-- File Upload Form at Top -->
  <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data" class="upload-form" *ngIf="roles?.includes('HR_MANAGER')">
    <label style="font-weight: 600;display: block;margin-bottom: 5px;">Upload Leave Policy</label>
    <div class="form-group" style="display: flex;align-items: center;">
      <input
        type="file"
        name="file"
        class="form-control"
        (change)="onFileChange($event)"
        accept="application/pdf"
        style="width:300px;display: inline;"
      />
      <button type="submit" style="margin-left: 10px;padding: 6px;background-color:#0A1A86;color:white" class="btn">Upload</button>
    </div>
  </form>

  <!-- PDF Display Section Below -->
  <div class="pdfView">
    <iframe
      [src]="pdfBlobUrl"
      class="pdfdisplay"
      [ngClass]="{ 'pdfdisplay': roles?.includes('HR_MANAGER'), 'pdfdisplayUSER': roles?.includes('USER') }"
      style="border: none;"
    ></iframe>
  </div>
</div>
