.container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* optional spacing between upload and PDF */
  padding: 1rem;
  overflow-x: hidden;
}

.upload-form {
  width: 100%;
  margin-left:10%
}

.pdfView {
  flex-grow: 1;
  height: 80vh; /* Adjust height as needed */
  display: flex;
  justify-content: center;
}

.pdfdisplay {
  width: 80%;
  height: 65%;
  border: none;
}

.pdfdisplayUSER{
  width: 80%;
  height: 80%;
  border:none;
}

