.pdfView{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    width:max-content;
    padding: 10px;
    overflow-x: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}